# Core App
fastapi
uvicorn
jinja2
weasyprint
python-multipart

# Code Analysis (OBLIGATOIRE)
black
flake8
mypy

# Utils
python-dotenv
requests
colorama

# Dependencies automatiques (pas besoin de les lister)
annotated-doc
annotated-types
anyio
Brotli
cffi
click
cssselect2
fonttools
h11
idna
MarkupSafe
pillow
pycparser
pydantic
pydantic_core
pydyf
pyphen
sniffio
starlette
tinycss2
tinyhtml5
typing-inspection
typing_extensions
webencodings
zopfli